<div class="signin-page">
    <div class="background-shapes">
        <div class="dna-helix">
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
        </div>
        <div class="molecule molecule-1"></div>
        <div class="molecule molecule-2"></div>
        <div class="molecule molecule-3"></div>
    </div>
    
    <div class="signin-box">
        <div class="signin-header">
            <h1>Kapsül-BioVision</h1>
            <p>Giriş Yap</p>
        </div>
        
        <form class="signin-form">
            <div class="input-group">
                <input type="email" placeholder="E-posta" required>
            </div>
            
            <div class="input-group">
                <input type="password" placeholder="Şifre" required>
            </div>
            <!-- şifremi unuttum
            <a href="#" class="forgot-link">Şifremi Unuttum?</a>
        -->
            <button type="submit">Giriş Yap</button>
            
            <div class="register-link">
                Hesabınız yok mu? <a href="/sign-up">Üye Ol</a>
            </div>
        </form>
    </div>
</div>
