<div class="signup-page">
    <div class="background-shapes">
        <div class="dna-helix">
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
            <div class="dna-strand"></div>
        </div>
        <div class="molecule molecule-1"></div>
        <div class="molecule molecule-2"></div>
        <div class="molecule molecule-3"></div>
    </div>
    
    <div class="signup-box">
        <div class="signup-header">
            <h1>Kapsül-BioVision</h1>
            <p>Üye Ol</p>
        </div>
        
        <form class="signup-form">
            <div class="input-group">
                <input type="text" placeholder="Ad Soyad" required>
            </div>
            
            <div class="input-group">
                <input type="email" placeholder="E-posta" required>
            </div>
            
            <div class="input-group">
                <input type="password" placeholder="Şifre" required>
            </div>
            
            <button type="submit">Üye Ol</button>
            
            <div class="login-link">
                Zaten hesabınız var mı? <a href="/sign-in">Giriş Yap</a>
            </div>
        </form>
    </div>
</div>
