@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
 
}
.slideInLeft {
  animation: slideInLeft 1s ease-in;
  text-align: center;
  font-family: "Embed code";
}

.header {
  position: fixed; /* Sayfanın en üstüne sabitler */
  top: 0;
  left: 0;
  width: 100%; /* Sayfanın tamamını kaplar */
  height: 60px; /* Daha büyük bir header */
  background: #1b1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 15px; 
}

button.login {
  background: white;
  color: #000000;
  border: 2px solid white;
  padding: 5px 6px;
  border-radius: 5px;
  cursor: pointer;
}

button.sign-up {
  background: white;
  color: #000000;
  border: 2px solid white;
  padding: 5px 6px;
  border-radius: 5px;
  cursor: pointer;
}

img {
  width: 500px;
  height: 500px;
  margin-top: -90px;
}

