<!-- Background Image -->
<img src="./assets/7.jpeg" class="page" alt="">




<!-- Toggle Button - her zaman görünür -->
<button class="global-toggle-btn" (click)="toggleSidebar()">
  <i class="fas fa-bars"></i>
</button>

<!-- Sidebar -->
<div class="sidebar-container">
  <div class="sidebar" [class.active]="isSidebarOpen">
    <div class="sidebar-header">
      <h3>Menü</h3>
    </div>
    <div class="sidebar-content">
      <ul>
        <li>
          <a class="results">
            <i class="fas fa-file-medical"></i>
            Hastalar
          </a>
        </li>
        <li>
          <a [routerLink]="['/results']" routerLinkActive="router-link-active" class="results">
            <i class="fas fa-file-medical"></i>
            Sonuçlar
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <!-- Fotoğraf Yükleme Bölümü -->
  <div class="upload-box">
    <!-- Seçilen Resim -->
    <img *ngIf="selectedImageUrl" [src]="selectedImageUrl" alt="Seçilen Resim" class="selected-image">
    
    <!-- Fotoğraf Yükle Butonu -->
    <button *ngIf="!selectedImageUrl" (click)="fileInput.click()">Select File</button>

    <!-- Dosya Seçme Input -->
    <input 
      #fileInput 
      type="file" 
      style="display: none;" 
      (change)="onFileSelected($event)" 
      title="Choose an image file" 
      placeholder="No file selected" />

  
<!-- Yükleme Butonu -->
<!-- 
<button (click)="onUpload()" [disabled]="!selectedFile">Upload</button>
-->


<!-- Durum Mesajı -->
<!-- <p>{{ status }}</p> -->

  </div>
  

  <!-- Kamera Bölümü -->
  <div class="camera-box">
    <!-- Kamera izni verilmediyse buton görünsün 
    <button *ngIf="btnVisible" (click)="checkPermission()">Check the webcam</button>-->
    <br>
    <button [routerLink]="['/user3']" routerLinkActive="router-link-active" class="results">
      <i class="fas fa-file-medical"></i>
      Canlı İzleme
    </button>
    <!-- Kamera izni verildiyse webcam görüntüsü ve fotoğraf çekme butonu görünsün -->
    <div *ngIf="cameraVisible">
      <webcam #webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [width]="400" [height]="230"></webcam>
      <button class="captureImage" (click)="captureImage()">{{btnLabel}}</button>
    </div>
  </div>
</div>

<!-- Radio Butonlar -->
<div class="radio-container">
  <div class="radio-group">
    <input type="radio" id="option1" name="options" value="option1">
    <label for="option1">Cilt Kanseri</label>

    <input type="radio" id="option2" name="options" value="option2">
    <label for="option2">Beyin Tümörü</label>

    <input type="radio" id="option3" name="options" value="option3">
    <label for="option3">Meme Kanseri</label>

    <input type="radio" id="option4" name="options" value="option4">
    <label for="option4">Kan Hücre Çeşitleri</label>
  </div>
</div>

<!-- Tara Butonu -->
<div class="scan-button-container">
  <button (click)="onUpload()" [disabled]="!selectedFile" class="scan-button">Tara</button>
</div>

<!-- Görüntü Önizleme ve İndirme Bölümü -->
<div class="button-container" *ngIf="previewImage">
  <button (click)="uploadCapturedImage()">Download Image</button>
</div>

<!-- Kamera durumu mesajı -->
 <!--
<div *ngIf="status">
  <p>{{ status }}</p>
</div> 
-->

